<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.nitrogen.daylightheader"
	android:versionCode="1"
	android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

	<uses-sdk
		android:minSdkVersion="24"
		android:targetSdkVersion="24" />

	<application
		android:allowBackup="false"
		android:label="DaylightHeaderNitrogen" >
		<activity
			android:name=".BrowseHeaderActivity"
			android:label="@string/browse_header"
			android:theme="@android:style/Theme.Material.Settings" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name=".nitrogen"
			android:label="@string/header_pack_label1" >
			<intent-filter>
				<action android:name="org.omnirom.DaylightHeaderPack1" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name=".poly"
			android:label="@string/header_pack_label2" >
			<intent-filter>
				<action android:name="org.omnirom.DaylightHeaderPack1" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

                <activity
                        android:name=".nature"
                        android:label="@string/header_pack_label3" >
                        <intent-filter>
                                <action android:name="org.omnirom.DaylightHeaderPack1" />

                                <category android:name="android.intent.category.DEFAULT" />
                        </intent-filter>
                </activity>

                <activity
                        android:name=".naturerandom"
                        android:label="@string/header_pack_label4" >
                        <intent-filter>
                                <action android:name="org.omnirom.DaylightHeaderPack1" />

                                <category android:name="android.intent.category.DEFAULT" />
                        </intent-filter>
                </activity>

                <activity
                        android:name=".screwd"
                        android:label="@string/header_pack_label5" >
                        <intent-filter>
                                <action android:name="org.omnirom.DaylightHeaderPack1" />

                                <category android:name="android.intent.category.DEFAULT" />
                        </intent-filter>
                </activity>

                <activity
                        android:name=".wavvy"
                        android:label="@string/header_pack_label6" >
                        <intent-filter>
                                <action android:name="org.omnirom.DaylightHeaderPack1" />

                                <category android:name="android.intent.category.DEFAULT" />
                        </intent-filter>
                </activity>
	</application>

</manifest>