<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.nitrogen.daylightheader"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="21" />

	<application
		android:allowBackup="false"
		android:label="DaylightHeaderNitrogen" >
		<activity
			android:name=".DaylightHeaderNitrogen"
			android:label="@string/header_pack_label" >
			<intent-filter>
				<action android:name="org.omnirom.DaylightHeaderPack" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
	</application>

</manifest>